<%- include('./_partial/header') %>
  <script>
    setTimeout("location.reload()", 1000);
  </script>
  <div class="content">
    <h1>Room <%= roomNumber %></h1>

    <table class="stripe">
      <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% incidents.forEach(function (value, key) { %>
          <tr>
            <td><%= value.Updated %></td>
            <td><%= value.Type %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>

  </div>
<%- include('./_partial/footer') %>
